@mixin heading1($weight: 700) {
  font-size: 2.375;
  font-weight: $weight;
  line-height: 1.3;
}

@mixin heading2($weight: 700) {
  font-size: 1.125rem;
  font-weight: $weight;
  line-height: 1.5;
}

@mixin body($size: 1rem, $weight: 400) {
  font-size: $size;
  font-weight: $weight;
  line-height: 1.5;
}

@mixin caption($weight: 400) {
  font-size: 0.75rem;
  font-weight: $weight;
  line-height: 1.5;
}
