@import "mixin";

$font-weight: (
  bold: 700,
  medium: 400,
);

.heading1 {
  @each $name, $value in $font-weight {
    &--#{$name} {
      @include heading1($value);
    }
  }
}

.heading2 {
  @each $name, $value in $font-weight {
    &--#{$name} {
      @include heading2($value);
    }
  }
}

.caption {
  @each $name, $value in $font-weight {
    &--#{$name} {
      @include caption($value);
    }
  }
}

.body1 {
  @each $name, $value in $font-weight {
    &--#{$name} {
      @include body(1rem, $value);
    }
  }
}

.body2 {
  @each $name, $value in $font-weight {
    &--#{$name} {
      @include body(0.875rem, $value);
    }
  }
}
